/ {
    /include/ "../../soc/st/stm32f103xe/soc.dtsi"

    flash0: flash0 {
        compatible = "yi,stm32-internal-flash";
        base-address = <0x08000000>;
        size = <0x00040000>;
        erase-block-size = <2048>;
        write-block-size = <2>;
        status = "okay";
    };

    clk_gpioa: clock-gpioa {
        compatible = "yi,stm32-clock";
        clock-id = "gpioa";
        status = "okay";
    };

    clk_gpiob: clock-gpiob {
        compatible = "yi,stm32-clock";
        clock-id = "gpiob";
        status = "okay";
    };

    clk_gpioc: clock-gpioc {
        compatible = "yi,stm32-clock";
        clock-id = "gpioc";
        status = "okay";
    };

    gpio_led0: gpio-led0 {
        compatible = "yi,stm32-gpio";
        port = "GPIOC";
        pin = <2>;
        clocks = <&clk_gpioc>;
        init-level = "pre-kernel";
        init-priority = <10>;
        status = "okay";
    };

    gpio_led1: gpio-led1 {
        compatible = "yi,stm32-gpio";
        port = "GPIOC";
        pin = <3>;
        clocks = <&clk_gpioc>;
        init-level = "pre-kernel";
        init-priority = <10>;
        status = "okay";
    };

    key0: key0 {
        compatible = "yi,stm32-gpio";
        port = "GPIOC";
        pin = <13>;
        clocks = <&clk_gpioc>;
        direction = "input";
        pull = "up";
        interrupt = "falling";
        irq-priority = <10>;
        init-level = "pre-kernel";
        init-priority = <10>;
        status = "okay";
    };

    soft_i2c0_scl: soft-i2c0-scl {
        compatible = "yi,stm32-gpio";
        port = "GPIOA";
        pin = <2>;
        clocks = <&clk_gpioa>;
        direction = "output";
        drive = "open-drain";
        pull = "up";
        init-level = "pre-kernel";
        init-priority = <20>;
        status = "okay";
    };

    soft_i2c0_sda: soft-i2c0-sda {
        compatible = "yi,stm32-gpio";
        port = "GPIOA";
        pin = <3>;
        clocks = <&clk_gpioa>;
        direction = "output";
        drive = "open-drain";
        pull = "up";
        init-level = "pre-kernel";
        init-priority = <20>;
        status = "okay";
    };

    soft_i2c0: soft-i2c0 {
        compatible = "yi,soft-i2c";
        scl-gpio = <&soft_i2c0_scl>;
        sda-gpio = <&soft_i2c0_sda>;
        clock-frequency = <50000>;
        stretch-timeout-us = <1000>;
        recovery-clocks = <9>;
        init-level = "post-kernel";
        init-priority = <20>;
        status = "okay";
    };

    spi1_sck: spi1-sck {
        compatible = "yi,stm32-pinmux";
        port = "GPIOA";
        pin = <5>;
        function = "spi-clock";
        mode = "alternate-push-pull";
        speed = "high";
        clocks = <&clk_gpioa>;
        init-level = "pre-kernel";
        init-priority = <20>;
        status = "okay";
    };

    spi1_miso: spi1-miso {
        compatible = "yi,stm32-pinmux";
        port = "GPIOA";
        pin = <6>;
        function = "spi-miso";
        mode = "input";
        pull = "none";
        clocks = <&clk_gpioa>;
        init-level = "pre-kernel";
        init-priority = <20>;
        status = "okay";
    };

    spi1_mosi: spi1-mosi {
        compatible = "yi,stm32-pinmux";
        port = "GPIOA";
        pin = <7>;
        function = "spi-mosi";
        mode = "alternate-push-pull";
        speed = "high";
        clocks = <&clk_gpioa>;
        init-level = "pre-kernel";
        init-priority = <20>;
        status = "okay";
    };

    spi1_cs: spi1-cs {
        compatible = "yi,stm32-gpio";
        port = "GPIOA";
        pin = <4>;
        clocks = <&clk_gpioa>;
        direction = "output";
        init-level = "pre-kernel";
        init-priority = <20>;
        status = "okay";
    };

    led0: led0 {
        compatible = "yi,gpio-led";
        gpios = <&gpio_led0>;
        active-low;
        init-level = "application";
        init-priority = <10>;
        status = "okay";
    };

    led1: led1 {
        compatible = "yi,gpio-led";
        gpios = <&gpio_led1>;
        active-low;
        init-level = "application";
        init-priority = <10>;
        status = "okay";
    };

    uart0_tx: uart0-tx {
        compatible = "yi,stm32-pinmux";
        port = "GPIOA";
        pin = <9>;
        function = "uart-tx";
        mode = "alternate-push-pull";
        speed = "high";
        clocks = <&clk_gpioa>;
        status = "okay";
    };

    uart0_rx: uart0-rx {
        compatible = "yi,stm32-pinmux";
        port = "GPIOA";
        pin = <10>;
        function = "uart-rx";
        mode = "input";
        pull = "none";
        clocks = <&clk_gpioa>;
        status = "okay";
    };

    rtt0: rtt0 {
        compatible = "yi,segger-rtt";
        up-buffer = <0>;
        mode = "no-block-skip";
        init-level = "post-kernel";
        init-priority = <10>;
        status = "okay";
    };

    console0: console0 {
        compatible = "yi,console";
        backend = <&rtt0>;
        default-console;
        init-level = "application";
        init-priority = <0>;
        status = "okay";
    };
};

&usart1 {
    current-speed = <115200>;
    tx-pin = <&uart0_tx>;
    rx-pin = <&uart0_rx>;
    irq-priority = <10>;
    init-level = "post-kernel";
    init-priority = <20>;
    status = "okay";
};

&spi1 {
    sck-pin = <&spi1_sck>;
    miso-pin = <&spi1_miso>;
    mosi-pin = <&spi1_mosi>;
    max-frequency = <18000000>;
    mode = <0>;
    irq-priority = <10>;
    init-level = "post-kernel";
    init-priority = <20>;
    status = "okay";
};

&timers7 {
    tick-frequency = <1000>;
    irq-priority = <10>;
    init-level = "post-kernel";
    init-priority = <10>;
    status = "okay";
};
