/ {
    /include/ "../../soc/st/stm32f103xe/soc.dtsi"

    /include/ "board-clocks.dtsi"
    /include/ "board-gpios.dtsi"
    /include/ "board-pinctrl.dtsi"
    /include/ "board-buses.dtsi"
    /include/ "board-storage.dtsi"
    /include/ "board-ui.dtsi"
    /include/ "board-console.dtsi"
};
